.card {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border: 1px solid rgba(227,227,227,1);
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  flex: 0 0 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.image {
  width: 180px;
  height: 270px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  padding: 0.5rem 0;
  text-align: center;
}

.info h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.25rem 0;
  color: #1f1f1f;
  font-weight: bolder;
}

.info h3:hover {
  color: rgba(0,0,0,0.5);
}

.info p {
  font-size: 0.9rem;
  color: #1f1f1f;
  margin: 0;
}

.loadMoreCard {
  width: 180px;
  min-width: 180px;
  max-width: 180px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  flex-direction: column;
}
