.title {
  font-size: 0.9rem;
  color: #222;
  margin: 12px 0 4px 0;
  font-weight: 700; 
  line-height: 1.1;
  text-align: left;
  font-weight: bold;
  padding: 0 12px;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}
.title:hover {
  color: #01b4e4;
}

.date {
  font-size: 0.8rem;
  color: #666;
  margin: 0 0 6px 0;
  padding: 0 12px;
  text-align: left;
}
.card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}


.imageWrapper {
  position: relative;
  width: 100%;
  height: 224px !important;
  min-height: 224px;
  max-height: 224px;
  overflow: hidden;
}

.cardLink {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: filter 0.3s ease, background-color 0.3s ease;
}

.cardLink.blurred {
  filter: blur(3px);
  background-color: rgba(0, 0, 0,1);
}

.poster {
  width: 100% !important;
  height: 100% !important;
  min-height: 224px;
  max-height: 224px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #eee;
}

.score {
  position: absolute;
  top: 195px;
  left: 8px;
  color: #222;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  overflow: visible;
  transition: box-shadow 0.2s;
  position: relative;
  height: 320px;
  width: 100%;
}


.moreButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(166, 166, 166, 0.7);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s ease;
}

.moreButton:hover {
  background: rgba(0, 0, 0, 0.9);
}

.more {
  filter: invert(1);
  opacity: 0.8;
}

.moreBox {
  position: absolute;
  top: 40px;
  right: 8px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 20;
  min-width: 120px;
  overflow: hidden;
}

.moreBoxContent {
  display: flex;
  flex-direction: column;
}

.moreBoxContent p {
  font-size: 11px;
  font-weight: bold;
  margin: 6px 12px 2px 12px;
  color: #333;
  text-align: left;

}

.moreBoxContent > div {
  padding: 4px 0;
  border-bottom: 1px solid #f0f0f0;
}

.moreBoxContent > div:last-child {
  border-bottom: none;
}

.moreBoxItem {
  background: none;
  border: none;
  padding: 4px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  display: block;
  width: 100%;
}

.moreBoxItem:hover {
  background-color: #032541;
  color: #fff;
}
